body{
    background-image: linear-gradient(to right, #3B0270, #E9B3FB, #3B0270);
    align-items: center;
    text-align: center;
}

.navbar {
    /* background-image: linear-gradient(to right, #3B0270, #E9B3FB, #3B0270); */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-link {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 4px black;
    font-size: 65px;
    color: #FFF1F1;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* .learn1 {
    background-color:#3B0270;
    text-decoration: none;
    padding: 15px;
    width: 100%;
    font-family: monospace;
} */
    
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 4px black;
    font-size: 30px;
    color: black;
}

.card-img-top {
    border: none;
    border-radius: 100px;
}

.card-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-text {
    font-family: monospace;
}

.form-label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}

.form-control {
    width: 30%;
    font-family: monospace;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px #3B0270;
}

.btnSubmit {
    background-color: #3B0270;
    color: #FFF1F1;
    padding: 10px;
    width: 25%;
    font-family: monospace;
    font-size: 16px;
    cursor: pointer;
}