body {
    background-image: radial-gradient(circle, #FFFDEC, #FFCFCF);
    font-family: monospace;
    align-items: center;
    overflow: scroll;
    margin: 0;
}

/* header {
    position: sticky;
    top: 0;
    background-size: cover;
    width: auto;
    height: auto;
    background-color: #FFE2E2;
} */

h1 {
    padding: 80px;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    font-size: 70px;
    color:#86A788;
    text-shadow: 1px 1px 4px #000000;
    transition-timing-function: linear;
    transition: 0.3s;
}

h1:hover {
    font-size: 72px;
    text-shadow: 1px 1px 4px #023f02;
    transition: 0.5s;
    transition-timing-function: linear;
}

h5 {
    align-items: center;
    text-align: center;
}

.page2 {
    align-items: center;
    text-align: center;
}

.button {
  background-color: #023f02;
  border: none;
  box-shadow: 1px 1px 4px #000000;
  border-radius: 5px;
  color: #FFFDEC;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.button:hover {
    background-color: #FFFDEC;
    color: #023f02;
}

.introduction , .comments , .selectors , .cascade {
    background-color: #CAE8BD;
    border-radius: 10px;
    padding: 3px;
    font-family: helvetica;
    text-align: left;
    text-indent: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 25px;
    border-style: inset;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
    transition-timing-function: linear;
}

h2 {
    text-indent: 10px;
    font-family: "Trirong", serif;
    font-weight: bolder;
}

p {
    font-family: monospace;
}

.introduction:hover {
    transition: 0.2s;
    transition-timing-function: linear;
    margin-left: 30px;
    margin-right: 30px;
}

.comments:hover {
    transition: 0.2s;
    transition-timing-function: linear;
    margin-left: 30px;
    margin-right: 30px;
}

.selectors:hover {
    transition: 0.2s;
    transition-timing-function: linear;
    margin-left: 30px;
    margin-right: 30px;
}

.cascade:hover {
    transition: 0.2s;
    transition-timing-function: linear;
    margin-left: 30px;
    margin-right: 30px;
}

li {
    font-family: garamond;
    color: #023f02;
    font-weight: bolder;
}

/* chapter 3 */

h3 { 
    text-align: center;
    font-family: "Audiowide", sans-serif;
    font-size: 50px;
    color:#86A788;
    text-shadow: 1px 1px 4px #000000;
}

.chapter3 {
    overflow-x: auto; /* enables horizontal scrolling */
    text-align: center;
    align-items: center;
    margin-left: 60px;
    margin-right: 10px;
}

.third {
    text-align: center;
    align-items: center;
    font-family: garamond;
    min-width: 95%; /* minimum width of the table */
    max-width: 95%;
}

.third th, .third td {
    border: 1px solid #000000;
    padding: 30px; /* padding for cell content */
}

.third th:nth-child(odd) {
    background-color: #FFCFCF; /* alternate row background */
}